mixin column-info()
    h3 Jazas Predstavlja
    h1 conference on prevention among msm
    p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
    a(href="#") read more
    
mixin small-cont()
    .container
        h3 Jazas youtube
        h1 koji je tvoj izgovor, kampanja (2003)
        p Istraživači procenjuju da se kondom koristi u samo 9% svih seksualnih odnosa u svetu
            
sectio#columnist-section
    .columnist-wrapper
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist5.jpg")
                +column-info()
                
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist6.jpg").dif-size
                +column-info()
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist3.jpg")
                +column-info()
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist4.jpg")
                +column-info()
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist5.jpg")
                +column-info()
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist6.jpg").dif-size
                +column-info()
                
        .smaller-container
            +small-cont()
            img(src="/assets/img/yt-screenshot.jpg")
            
        .smaller-container
            +small-cont()
            img(src="/assets/img/yt-screenshot.jpg")
            
            
            
    
        