sectio#columnist-section
    .columnist-wrapper
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist5.jpg")
                h3 Jazas Predstavlja
                h1 converence on prevention among msm
                p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
                a(href="#") read more
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist6.jpg").dif-size
                h3 Jazas Predstavlja
                h1 converence on prevention among msm
                p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
                a(href="#") read more
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist3.jpg")
                h3 Jazas Predstavlja
                h1 converence on prevention among msm
                p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
                a(href="#") read more
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist4.jpg")
                h3 Jazas Predstavlja
                h1 converence on prevention among msm
                p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
                a(href="#") read more
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist5.jpg")
                h3 Jazas Predstavlja
                h1 converence on prevention among msm
                p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
                a(href="#") read more
        .columnist-container
            .columnist
                img(src="/assets/img/columnists/columnist6.jpg").dif-size
                h3 Jazas Predstavlja
                h1 converence on prevention among msm
                p the department of health has opened a consultation on possible changes to its policy on the employment of people with hiv
                a(href="#") read more
                
        .smaller-container
            .container
                h3 Jazas youtube
                h1 koji je tvoj izgovor, kampanja (2003)
                p Istra탑iva훾i procenjuju da se kondom koristi u samo 9% svih seksualnih odnosa u svetu
            img(src="/assets/img/yt-screenshot.jpg")
            
        .smaller-container
            .container
                h3 Jazas youtube
                h1 koji je tvoj izgovor, kampanja (2003)
                p Istra탑iva훾i procenjuju da se kondom koristi u samo 9% svih seksualnih odnosa u svetu
            img(src="/assets/img/yt-screenshot.jpg")
            
            
            
    
        