.mobile-nav
    ul
        li: a(href="#saznaj") Saznaj
        li: a(href="#hiv") hiv
        li: a(href="#mre탑a") mre탑a 
        li: a(href="#press") press
    ul
        li: a(href="#o nama") o nama
        li: a(href="#vesti") vesti
        li: a(href="#hiv/aids") hiv/aids 
        li: a(href="#teme") teme
        li: a(href="#zdravlje") zdravlje
        li: a(href="#galerija") galerija
        li: a(href="#blog") blog
        li: a(href="#download") download
        li: a(href="#kontakt") kontakt
header#header
    .header-wrapper
        .logo
        .navigations
            nav.nav-small
                a(href="#saznaj") Saznaj
                a(href="#hiv") hiv
                a(href="#mre탑a") mre탑a 
                a(href="#press") press
            nav.nav-big
                a(href="#o nama") o nama
                a(href="#vesti") vesti
                a(href="#hiv/aids") hiv/aids 
                a(href="#teme") teme
                a(href="#zdravlje") zdravlje
                a(href="#galerija") galerija
                a(href="#blog") blog
                a(href="#download") download
                a(href="#kontakt") kontakt
        .mobile-nav-toggle
            span