<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        
<!--
        <link rel="stylesheet" type="text/css" href="../assets/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="../assets/css/fonts.min.css" />
-->
        <link rel="stylesheet" href="/assets/css/main.css">
        <script  src="../assets/js/jquery-3.1.1.min.js"></script>

    </head>
    <body>

      <div class="home-wrap">
       <!--Mobile navigation markup start-->
        <div class="mobile-nav">
          <ul>
            <li><a href="#saznaj">Saznaj</a></li>
            <li><a href="#hiv">hiv</a></li>
            <li><a href="#mreža">mreža </a></li>
            <li><a href="#press">press</a></li>
          </ul>
          <ul>
            <li><a href="#o nama">o nama</a></li>
            <li><a href="#vesti">vesti</a></li>
            <li><a href="#hiv/aids">hiv/aids </a></li>
            <li><a href="#teme">teme</a></li>
            <li><a href="#zdravlje">zdravlje</a></li>
            <li><a href="#galerija">galerija</a></li>
            <li><a href="#blog">blog </a></li>
            <li><a href="#download">download</a></li>
            <li><a href="#kontakt">kontakt</a></li>
          </ul>
          <div class="follow-us">
            <p>Pratite nas</p>
            <div class="social"><a href="#" target="_blank" class="icon-twitter"></a><a href="#" target="_blank" class="icon-facebook"></a></div>
          </div>
        </div>
        <!--Mobile navigation markup end-->
        <!--Header markup start-->
        <header id="header">
          <div class="header-wrapper">
            <div class="logo"></div>
            <div class="navigations">
              <nav class="nav-small"><a href="#saznaj">Saznaj</a><a href="#hiv">hiv</a><a href="#mreža">mreža </a><a href="#press">press</a></nav>
              <nav class="nav-big"><a href="#o nama">o nama</a><a href="#vesti">vesti</a><a href="#hiv/aids">hiv/aids </a><a href="#teme">teme</a><a href="#zdravlje">zdravlje</a><a href="#galerija">galerija</a><a href="#blog">blog</a><a href="#download">download</a><a href="#kontakt">kontakt</a></nav>
            </div>
            <div class="mobile-nav-toggle"><span></span></div>
          </div>
        </header> 
        <!--Header markup end-->
        <!--Columnist markup start-->
        <section id="columnist-section">
          <div class="columnist-wrapper">
            <div class="columnist-container">
              <div class="columnist">
                <img src="/assets/img/columnists/columnist5.jpg"/>
                <h3>Jazas Predstavlja</h3>
                <h1>conference on prevention among msm</h1>
                <p>The department of health has opened a consultation on possible changes to its policy on the employment of people with hiv</p><a href="#">read more</a>
              </div>
            </div>
            <div class="columnist-container">
              <div class="columnist">
                <img src="/assets/img/columnists/columnist6.jpg" class="dif-size"/>
                <h3>Jazas Predstavlja</h3>
                <h1>conference on prevention among msm</h1>
                <p>The department of health has opened a consultation on possible changes to its policy on the employment of people with hiv</p><a href="#">read more</a>
              </div>
            </div>
            <div class="columnist-container">
              <div class="columnist"><img src="/assets/img/columnists/columnist3.jpg"/>
                <h3>Jazas Predstavlja</h3>
                <h1>conference on prevention among msm</h1>
                <p>The department of health has opened a consultation on possible changes to its policy on the employment of people with hiv</p><a href="#">read more</a>
              </div>
            </div>
            <div class="columnist-container">
              <div class="columnist">
                <img src="/assets/img/columnists/columnist4.jpg"/>
                <h3>Jazas Predstavlja</h3>
                <h1>conference on prevention among msm</h1>
                <p>The department of health has opened a consultation on possible changes to its policy on the employment of people with hiv</p><a href="#">read more</a>
              </div>
            </div>
            <div class="columnist-container">
              <div class="columnist">
                <img src="/assets/img/columnists/columnist5.jpg"/>
                <h3>Jazas Predstavlja</h3>
                <h1>conference on prevention among msm</h1>
                <p>The department of health has opened a consultation on possible changes to its policy on the employment of people with hiv</p><a href="#">read more</a>
              </div>
            </div>
            <div class="columnist-container">
              <div class="columnist">
                <img src="/assets/img/columnists/columnist6.jpg" class="dif-size"/>
                <h3>Jazas Predstavlja</h3>
                <h1>conference on prevention among msm</h1>
                <p>The department of health has opened a consultation on possible changes to its policy on the employment of people with hiv</p><a href="#">read more</a>
              </div>
            </div>
            <div class="smaller-container">
              <div class="container">
                <h3>Jazas youtube</h3>
                <h1>koji je tvoj izgovor, kampanja (2003)</h1>
                <p>Istraživači procenjuju da se kondom koristi u samo 9% svih seksualnih odnosa u svetu</p>
              </div>
              <img src="/assets/img/yt-screenshot.jpg"/>
            </div>
            <div class="smaller-container">
              <div class="container">
                <h3>Jazas youtube</h3>
                <h1>koji je tvoj izgovor, kampanja (2003)</h1>
                <p>Istraživači procenjuju da se kondom koristi u samo 9% svih seksualnih odnosa u svetu</p>
              </div>
              <img src="/assets/img/yt-screenshot.jpg"/>
            </div>
          </div>
        </section>
        <!--Columnist markup end-->
        <!--Footer markup start-->
        <section id="footer">
          <p>© 2012 Omladina Jazas-a</p>
        </section>
        <!--Footer markup end-->
    
        
    </div>  
      
        <script src="../assets/js/functions.js"></script>
          
      
    </body>
</html>
